<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KoS.Apps.SharePoint.SmartCAML.Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <userSettings>
    <KoS.Apps.SharePoint.SmartCAML.Editor.Properties.Settings>
      <setting name="UserId" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="ConnectWindowWidth" serializeAs="String">
        <value>360</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="WasMaximazed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastUser" serializeAs="String">
        <value />
      </setting>
      <setting name="UseCurrentUser" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayColumnsByTitle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastSelectedProvider" serializeAs="String">
        <value />
      </setting>
      <setting name="TotalRunTime" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="LastVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="RecentConnections" serializeAs="String">
        <value />
      </setting>
    </KoS.Apps.SharePoint.SmartCAML.Editor.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
