<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.5" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="1.2.1" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.0.0" targetFramework="net461" />
  <package id="NLog" version="4.2.2" targetFramework="net461" />
  <package id="NLog.Config" version="4.2.2" targetFramework="net461" />
  <package id="NLog.Schema" version="4.0.0" targetFramework="net461" />
</packages>